<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pata Hosi</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>find hospital</h2>
    <p>search facility by name or location (county/district) within Kenya </p>
    <div class="content">
        <input type="text">
        <button id="getButton">Get info</button>
    </div>


    <script src="/main.js"></script>
</body>
</html>