<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pata Hosi</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>Get any information on your hospital or doctor</h3>

    <p>Pata Hosi is a medical intitution and information search site optimized to provide the most reliable medical information on the medical facilities within your location</p>
    <span>How to use</span>
    <p>The site is currently developed to work in Kenya!!</p>
    <p>To access infromation about the medical institution, first search the name of the institution by either the facility name or by entering the location the institution is situated.</p>

    <p>You can also search infromation on the medical praticioners to idetify if they are registered by the Ministry of Health</p>

    <p>In case of any issues feel free to share the issue and provide any possible feedback for improvements by our developer community</p>

    <h2>find hospital</h2>
    <p>search facility by name or location (county/district) within Kenya </p>
    <div class="content">
        <input type="text">
        <button id="getButton">Get info</button>
    </div>
    <script src="/main.js"></script>
</body>
</html>