<%- include('partials/header') -%>
<div class="container">
    <h3 class="text-center">About Hospital Locator</h3>

    <p>Hospital locator is a medical intitution information search site optimized to provide the most reliable medical information on the medical facilities within your chosen location</p>

    <h2 class="text-center">How to use</h2>

    <p>DISCLAIMER!! The site is currently developed to work in Kenya!!</p>
    <p>To access information about the facility, enter the location of the facility and click search. All major and minor facilities within the selected location will be in the search results</p>

    <p>In case of any issues feel free to share the issue and provide any possible feedback for improvements by our developer community</p>

    <P>All data and information listed in the websited are sourced from the Ministry of Health and associated government facilities recognized by the Ministry of Health in Kenya</P>

    <a href="/facilities" class="btn btn-primary">
        search hospital
    </a>

</div>
    
<%- include('partials/footer') -%>